
body {
    background-color: black;
}

h1, h2, p, ul, footer {
    color: white
}



.nav {
    display: flex;
    flex-direction: row;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}